@font-face {
  font-family: 'High Tide';
  src: url('#{$font-path}hightide/HighTide.woff2') format('woff2'),
  url('#{$font-path}hightide/HighTide.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

