/* Base Styles -------------------- */
body{
  font-family: "Montserrat";
  font-weight: 900;
  background: $white;
}
header{
  margin-top: 25px;
  padding-bottom: 35px;
  width: 100%;
  position: absolute;
  z-index: 99;
  border-bottom: 1px solid rgba($white,.4);
  @include md{
    padding-bottom: 10px;margin-top: 0; background: rgba($dark,.8)}
  @include sm{
    padding-bottom: 10px;margin-top: 0; background: rgba($dark,.8)}
  @include esm{
    padding-bottom: 10px;margin-top: 0; background: rgba($dark,.8)}
  .header-wrap{
    min-height: 70px;
    @include sm{ padding: 15px 0px;}
    @include esm{ padding: 15px 0px;}
    .navbar{
      padding: 0;
      align-items: flex-end;
      @include md{align-items: center}
      @include sm{align-items: center}
      @include esm{align-items: center}
      .navbar-collapse{
        @include md{ padding-top: 30px; border-top: 1px solid $gray-100; margin-top: 30px}
        @include sm{ padding-top: 30px; border-top: 1px solid $gray-100; margin-top: 30px}
        @include esm{ padding-top: 30px; border-top: 1px solid $gray-100; margin-top: 30px}
      }
      .navbar-brand{
        img{
          width: 200px;
          @include lg{
            width: 150px;
          }
        }
      }

      .navbar-toggler{
        display: none;
        outline: 0;
        flex-direction: column;
        align-items: flex-end;

        @include md{
          display: flex;
        }
        @include sm{
          display: flex;
        }
        @include esm{
          display: flex;
        }
        .line{
          transition: all ease 300ms;
          display: block;
          height: 5px;
          width: 30px;
          border-radius: 4px;
          background: $white;
          margin-bottom: 5px;
          &.line-mid{
            width: 20px;

          }

        }
        &[aria-expanded="true"]{
          .line{
            transform: rotate(140deg);
            color: $red;
            &.line-mid{
              display: none;
            }
            &:nth-child(1){
              margin-bottom: -5px;
              transform: rotate(45deg);
            }
          }
        }
      }
      .navbar-nav{
        display: flex;
        align-items: center;
        .nav-item{
          cursor: pointer;
          position: relative;
          &:hover{
            a.nav-link{
            }
            .custom-dropdown-menu{
              transform: translate(0, 10px);
              opacity: 1;
              visibility: visible;
              @include md{
                display: block;
                position: unset;
                margin-bottom: 10px;
              }
              @include sm{
                display: block;
                position: unset;
                margin-bottom: 10px;
              }
              @include esm{
                display: block;
                position: unset;
                margin-bottom: 10px;
              }
            }
          }
          .nav-link{
            padding: 15px 15px;
            color: $white;
            font-weight: 500;
            position: relative;
            font-size: 13px;
            @include md{ padding: 10px 15px;}
            @include lg{ padding: 10px 15px; font-size: 11px}
            @include sm{ padding: 10px 15px;}
            @include esm{ padding: 10px 15px;}
            &:before{
              content: '';
              background: $primary;
              position: absolute;
              bottom: -30px;
              width: 30px;
              height: 2px;
              left: calc(50% - 15px);
              transition: $transition-base-cs;
              opacity: 0;
              z-index: -1;
            }
            &:hover,&.active{
              &:before{
                opacity: 1;
                bottom: 0;
              }
            }
            &.btn-teklifal{
              padding: 12px 20px;
              border: 1px solid $primary;
              margin-left: 20px;
              i{
                margin-right: 5px;
                color: $primary;
              }
              &:hover{
                background: $primary;
                i{
                  color: $white;
                }
              }
              &:before{
                content: unset;
              }
            }

          }

        }

      }
      .navbar-collapse{

      }

    }

  }
}
#slider{
  position: relative;
  top: 0;
  left: 0px;
  width: 100%;
  background: $dark;


  .tf-element-carousel{
    position: relative;
    margin-bottom: 0;
  }
  .slick-dots{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      background: $white;
      margin:0px ;
      height: unset;
      padding: 0px 10px;
      width: unset;
      display: unset;
      &:nth-child(1){
        margin-right: -1px;
        padding-left: 50px;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
      }
      &:nth-last-child(1){
        margin-left: -1px;
        padding-right: 50px;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }

      button{
        display: block;
        padding: 0;
        background: $dark;
        width: 50px;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        &:before{
          content: unset;

        }
      }
      &.slick-active{
        button{
          background: $primary;

        }
      }
    }

  }
  .slick-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    z-index: 3;
    top: calc(50% - 0px);
    width: 55px;
    height: 55px;
    transition: all ease 300ms;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900 !important;
    @include fa-icon;
    @include sm{
      width: 35px;
      height: 55px;
    }
    @include esm{
      width: 35px;
      height: 55px;
    }
    &.slick-prev{
      left: 10px;
      &:before{
        font-size: 15px;
        font-family: unset;
        opacity: 1;
        content: '\f053';
        color: $dark;
      }
    }
    &.slick-next{
      right:  10px;
      &:before{
        font-size: 15px;
        color: $dark;
        font-family: unset;

        opacity: 1;
        content: '\f054';
      }
      &:hover{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
    &:hover{
      background: $secondary;
    }
  }

  .hero-item{
    height: 100vh;
    min-height: 650px;
    display: flex !important;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .mask{
      z-index: 0;
      left: 0;
      top: 0;
      content: '';
      background: $black;
      position: absolute;
      opacity: .3;
      width: 100%;
      height: 100%;
    }
    @include lg{
      background-size: cover;
      padding: 0px 100px;
    }
    @include md{
      background-size: cover;
      padding: 0px 100px;
    }
    @include sm{
      background-size: cover;
      padding: 0px 100px;
    }
    @include esm{
      background-size: cover;
      padding: 0px 50px;
    }
    .container{
      z-index: 2;
      position: relative;
      .row{
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
    h3{
      font-family: "High Tide";
      color: $white;
      font-size: 350px;
      line-height: 150px;
      margin-bottom: 80px;
      @include esm{
        font-size: 170px;
        margin-bottom: 10px;
      }
    }
    p{
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
      @include esm{
        font-size: 20px;
      }
    }
  }
  #btn-danismanlik{
    position: absolute;
    bottom: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 23px;
    text-decoration: none;
  }
}
#danismanlik{
  background-image: url(../img/bg-danismanlik.jpg);
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container{
    .row{
      img{
        width: 100%;
      }
      h4{
        color: $primary;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
      }
      h3{
        font-weight: 600;
        color: $dark;
        margin: 20px 0px;
      }
      p{
        font-weight: 400;
      }
      a{
        border-radius: unset;
        padding: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid $primary;
        font-weight: bold;
        outline: 0;
        box-shadow: unset;
        &:hover{
          color: $primary;
        }
      }
    }
  }
}
#faaliyet{
  background-color: $black;
  background-image: url(../img/bg-faaliyet.png);
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  @include esm{
    overflow: hidden;
  }
  .container{
    .row{
      img{
        width: 100%;
      }
      h4{
        color: $primary;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
        text-align: center;
      }
      h3{
        text-align: center;
        font-weight: 600;
        font-size: 35px;
        margin-top: 5px;
        margin-bottom: 30px;
      }
      h1{
        font-size: 24px;
        position: relative;
        margin-bottom: 30px;
        font-weight: 300;
        &:before{
          content: '';
          width: 60px;
          height: 2px;
          background-color:$primary;
          position: absolute;
          bottom: -20px;
          left: calc(50% - 40px);
        }
      }
      p{
        opacity: .8;
        font-size: 14px;
        font-weight: 400;
      }
      .col-md-4{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid rgba($dark,.3);
        position: relative;
        @include esm{
          border-right: 0px !important;
        }
        &:nth-child(2){
          &:before{
            position: absolute;
            background-color: $white;
            content: '';
            border-radius: $rounded-pill;
            width: 7px;
            height: 7px;
            right: -5px;
            bottom: -5px;
            z-index: 1;
          }
        }
        &:nth-last-child(1){
          &:before{
            width: 7px;
            height: 7px;
            position: absolute;
            background-color: $white;
            content: '';
            border-radius: $rounded-pill;
            left: -5px;
            top: -5px;
            z-index: 1;
          }
        }

      }

    }
  }
}
#neleryaptik{
  background-color: #fac512;
  background-image: url(../img/bg-neleryaptik.jpg);
  padding: 100px 0px;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 200px;
  color: $dark;
  display: flex;
  align-items: center;
  @include md{
    display: block;
    padding-bottom: 0;
  }
  @include sm{
    display: block;
    padding-bottom: 0;
  }
  @include esm{
    display: block;
    padding-bottom: 0;
  }
  .hero-section{
    overflow: hidden;

    .slick-arrow{
      display: flex;
      align-items: center;
      justify-content: center;
      background: $black;
      z-index: 3;
      bottom:-18px;
      top: unset;
      width: 35px;
      height: 35px;
      transition: all ease 300ms;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900 !important;
      @include fa-icon;
      @include sm{
        width: 35px;
        height: 55px;
      }
      @include esm{
        width: 35px;
        height: 55px;
      }
      &.slick-prev{
        left: -72px;
        &:before{
          font-size: 15px;
          font-family: unset;
          opacity: 1;
          content: '\f053';
          color: $white;
        }
      }
      &.slick-next{
        left:-34px;
        &:before{
          font-size: 15px;
          color: $white;
          font-family: unset;

          opacity: 1;
          content: '\f054';
        }
        &:hover{
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
      &:hover{
        background: $secondary;
      }
    }
    .slick-list{
      width: 100%;
    }
    .hero-item{
      overflow: hidden;
      margin-bottom: -10px;
    }
    a{
      position: relative;
      display: block;
      outline: none;
      overflow: hidden;
      &:before{
        transition: $transition-base-cs;

        left: 0;
        top: 0;
        z-index: 1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, rgba($black,.8) 0%, transparent 100%);
      }
      &:after{
        background: linear-gradient(0deg, rgba($black,.8) 0%, transparent 100%);
        z-index: 1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        bottom: 0;
        transition: $transition-base-cs;
      }
      img{
        z-index: 3;
        width: 100%;
        max-height: 300px;

      }
      i{
        z-index: 3;
        color: $primary;
        position: absolute;
        top: 20px;
        right: 20px;
      }
      h1{
        z-index: 3;
        position: absolute;
        bottom: 0;
        font-size: 20px;
        text-align: center;
        width: 100%;
        padding-bottom: 14px;
        color: $white;

      }
      &:hover{
        h1{
          color: $primary;
        }
        &:before{
          height: 100%;
        }
      }
    }

  }
  .col-md-8{
    @include md{
      max-width: unset;
      margin-top: 50px;
    }
    @include sm{
      max-width: unset;
      margin-top: 50px;
    }
    @include esm{
      max-width: unset;
      margin-top: 50px;
    }
  }
  .col-md-4{
    padding-left: 50px;
    padding-right: 100px;
    @include md{
      max-width: 100%;
      padding-right: 15px;
    }
    @include esm{
      max-width: 100%;
      padding-right: 15px;
    }
    @include sm{
      max-width: 100%;
      padding-right: 15px;
    }
  }
  h4{
    font-weight: 600;
    font-size: 14px;
    position: relative;
    &:before{
      content: '';
      width: 40px;
      height: 1px;
      position: absolute;
      left: -55px;
      top: 6px;
      background-color: $dark;
    }
  }
  h3{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
  }
  p{
    font-size: 13px;
    font-weight: 400;
  }
}
#haberler{
  padding: 100px 0px;
  @include esm{
    padding: 30px 0px;
  }
  .col-12{
    padding-left: 150px;
    @include esm{
      padding: 15px 15px;
    }
  }
  .col-md-8{
    .imgwrap{
      width: 300px;
    }
    @include esm{
      .haberitem{
        display: block;
        .imgwrap{
          width: 100%;
        }
      }
    }
  }
  .col-md-4{
    max-width: unset;
  }
  h4{
    font-weight: 600;
    font-size: 14px;
    position: relative;
    color: $primary;
  }
  h3{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
    position: relative;
    &:before{
      content: '';
      width: 40px;
      height: 1px;
      position: absolute;
      left: -55px;
      top: 20px;
      background-color: $primary;
    }
  }
  .haberitem{
    display: flex;
    margin-bottom: 30px;
    .tarih{
      font-size: 13px;
      background: $dark;
      color: $white;
      font-weight: 400;
      display: inline-block;
      padding:5px 10px;
    }
    .imgwrap{
      height: 200px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    a{
      color: $dark;
      text-decoration: none;
      h1{
        font-weight: bold;
        font-size: 20px;
      }
      p{
        font-size: 15px;
        font-weight: 400;
        opacity: .8;
      }
    }
    .itembody{
      padding-left: 15px;
      h1{
        margin-bottom: 20px;
      }
      .tarih{
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
        position: relative;
        &:before{
          content: '';
          width: 40px;
          height: 2px;
          position: absolute;
          left: 0px;
          bottom: -10px;
          background-color: $primary;
        }
      }
    }
  }
  .haberitem-single{
    display: block;
    .imgwrap{
      height: unset;
      img{

      }
    }
    .tarih{
      position: relative;
      top: -20px;
      left: 50px;
    }
  }
}
#referanslar{
  padding-top:30px;
  .arrows{
    position: relative;
    top: -40px;
  }
  .slick-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 3;
    top: calc(50% - 0px);
    width: 55px;
    height: 55px;
    transition: all ease 300ms;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900 !important;
    @include fa-icon;
    @include sm{
      width: 35px;
      height: 55px;
    }
    @include esm{
      width: 35px;
      height: 55px;
    }
    &.slick-prev{
      left: 10px;
      &:before{
        color: #e5e5e5;
        font-size: 15px;
        font-family: unset;
        opacity: 1;
        content: '\f060';
      }
    }
    &.slick-next{
      right:  10px;
      &:before{
        color: #e5e5e5;
        font-size: 15px;
        font-family: unset;

        opacity: 1;
        content: '\f061';
      }
      &:hover{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
    &:hover{
      background: transparent;
    }
  }

  h4{
    font-weight: 600;
    font-size: 14px;
    position: relative;
    color: $primary;
    text-align: center;
  }
  h3{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  .tf-element-carousel{
    border-right: 1px solid $gray-400;
    height: calc(100% - 7px);
  }
  a{
    outline: 0;
    display: block;
    img{
      padding: 50px 30px;
      width: 100%;
      filter: grayscale(100%);
      margin: auto;
      border: 1px solid $gray-400;
      border-right: unset;

    }
  }
}
#global{
  background: #ebebeb;
  padding:50px 0px;

}
#kalitebelgeleri{
  background: #ebebeb;
  padding-bottom: 80px;
  .m-type3{
    display: inline-block;
  }
  .kb-item{
    display: flex;
    margin-top: 30px;
    text-decoration: none;
    img{
      box-shadow: $box-shadow-lg;
    }
    span{
      padding-left: 15px;
      margin-left: 15px;
      display: block;
      border-left: 1px solid $black;
      color: $dark;
      font-weight: bold;
      padding-top: 20px;
    }
  }
}
.page{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  .m-type1{
    h4{
      font-weight: 600;
      font-size: 14px;
      position: relative;
      color: $primary;
    }
    h3{
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 30px;
      position: relative;
      &:before{
        content: '';
        width: 40px;
        height: 1px;
        position: absolute;
        left: -55px;
        top: 20px;
        background-color: $primary;
      }
    }
  }
  .m-type4{
    text-align: center;
    h4{
      font-weight: 600;
      font-size: 14px;
      position: relative;
      color: $primary;
    }
    h3{
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 30px;
      position: relative;
    }
  }
  .m-type2{
    text-align: center;
    h4{
      font-weight: 600;
      font-size: 14px;
      position: relative;
      color: $primary;
    }
    h3{
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 30px;
      position: relative;
      &:before{
        content: '';
        width: 40px;
        height: 1px;
        position: absolute;
        left: 47%;
        bottom: -20px;
        background-color: $primary;
      }
    }
  }
  .m-type3{
    position: relative;
    background: $white;
    text-align: center;
    padding: 7px 30px;
    margin-bottom: 30px;
    &:before{
      position: absolute;
      content: '';
      width: 30px;
      height: 100%;
      top: 0;
      background: $white;
      left: -30px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);

    }
    &:after{
      position: absolute;
      content: '';
      width: 30px;
      height: 100%;
      top: 0;
      background: $white;
      clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
      right: -30px;
    }
    h4{
      font-weight: 600;
      font-size: 14px;
      position: relative;
      color: $dark;
    }
  }
  .bcrumbs{
    background: url(../img/bg-breadcrumbs.jpg);
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
      position: relative;
      color: #ffffff;
      margin-top: 100px;
      &:before{
        position: absolute;
        content: '';
        width: 80px;
        height: 2px;
        top: -30px;
        left: calc(50% - 40px);
        background: #e9a61e;
      }
    }
    .links{
      background-color: rgba(0, 0, 0, 0.24);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      ul{
        color: #ffffff;
        overflow: hidden;
        margin: 0;
        padding: 15px 0px;
        li{
          float: left;
          list-style-type: none;
          margin-right: 10px;
          text-transform: uppercase;
          a{
            color: #ffffff;
            text-decoration: none;
            i{
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
.mfp-close-btn-in .mfp-close{
  display: inline-block;
  width: unset;
  right: -40px;
  top: 30px;
}
.mfp-counter{
  display: none;
}
.mfp-arrow-left{
  left: -100px;
  @include esm{
    left: 0;
  }
}
.mfp-arrow-right{
  right: -100px;
  @include esm{
    right: 0;
  }
}
.mfp-container{
  @include esm{
    overflow: hidden;
  }
}
.mfp-title{
  position: relative;
  top: -50px;
  padding-left: 60px;
  font-weight: 500 ;

  &:before{
    content: '';
    width: 1px;
    height: 80px;
    position: absolute;
    top: -11px;
    left: 30px;
    background: $primary;
  }
}
 button.mfp-arrow{
  background: $white;
   opacity: 1;
 transform: scale(.35);
}
 .mfp-iframe-holder {
   .mfp-close{
     top: -10px;
   }
 }
.mfp-arrow:before{opacity: 1;}
.mfp-arrow:after{opacity: 1;}
.bg-path{
  background-image: url(../img/bg-path.png);
}
form{
  .btn-primary{
    padding: 10px 40px;
    color: $white;
    border-radius: unset;
  }
  .form-control{
    border-radius: unset;
    transition: $transition-base-cs;
    background: $gray-100;
    border: transparent;
    box-shadow: unset !important;
    outline: 0!important;
    color: $dark;
    font-size: 13px;
    padding: 30px 20px;
    margin-bottom: 20px;
    &:hover{
      background: $gray-200;
    }
  }
}
.page-iletisim{
  .adresler{
    background: $white;
    padding: 50px 0px;
    p{
      opacity: .7;
      font-size: 14px;
    }
    h3{
      font-weight: 600;
      color: $dark;
      margin: 20px 0px;
      position: relative;
      &:before{
        content: '';
        width: 40px;
        height: 1px;
        position: absolute;
        left: -55px;
        top: 15px;
        background-color: $primary;
      }
    }
    .adres-item{
      padding-right: 50px;
      .adres-items{
        padding: 0;
        margin: 0;
        li{
          list-style-type: none;
          a{
            margin-bottom: 15px;
            display: flex;
            color: $dark;
            font-size: 14px;
            text-decoration: none;
            &:hover{
              color: $primary;
            }
            i{
              color: $primary;
              margin-right: 10px;
              margin-top: 4px;
            }
          }
        }
      }

    }
  }
  .sosyal{
    padding-bottom: 30px;
    text-align: center;
    ul{
      overflow: hidden;
      display: inline-block;
      padding: 0;
      margin: 0;
      li{
        float: left;
        list-style-type: none;
        a{
          color: $gray-400;
          margin: 0px 30px;
          &:hover{
            color: $primary;
          }
          i{
            font-size: 40px;
          }
        }
      }
    }
  }
  .form-iletisim{
    h4{
      color: $primary;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 0;
      text-align: center;
    }
    h3{
      font-weight: 600;
      color: $dark;
      margin: 20px 0px;
      display: inline-block;
      position: relative;
      &:before{
        content: '';
        width: 40px;
        height: 1px;
        position: absolute;
        left: -55px;
        top: 15px;
        background-color: $primary;
      }
    }
    p{
      font-weight: 400;
      font-size: 14px;
      padding: 0px 30px ;

    }

    padding: 100px 0px;
    position: relative;
    &:before{
      @extend .bg-path;
      position:absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
      content: '';
    }
  }
  .map{
    margin-bottom: -40px;
    iframe{
      width: 100%;
      height: 400px;
    }
  }
  .ebulten{
    @extend .bg-path;
    padding: 50px 0px;
    .text{
      p{
        opacity: .7;
        font-size: 14px;
        width: 100%;
      }
      h3{
        color: $dark;
        margin: 20px 0px;
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 500;
        &:before{
          content: '';
          width: 40px;
          height: 1px;
          position: absolute;
          right: -45px;
          top: 15px;
          background-color: $primary;
        }
      }
    }
    .input{
      p{
        opacity: .7;
        font-size: 14px;
        width: 100%;
        font-weight: 500;
      }
      .btn{
      }
      .form-control{
        background: $white;
        border: 1px solid $gray-400;
        margin-right: 15px;
      }
    }
  }

}
.page-medya{
  #medya-wrap{
    @extend .bg-path;
    padding: 50px 0px;
    position: relative;
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      top: 200px;
      position: absolute;
      background: $white;
      z-index: 0;
    }
  }
  .bg{
  }
  .medya-item{
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    position: relative;
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: rgba($dark,.4);
      width: 100%;
      height: 100%;
    }
    .type{
      display: block;
      font-size: 10px;
      padding:  3px 10px;
      border-radius: $rounded-pill;
      border: 1px solid $primary;
      position: absolute;
      top: 10px;
      left: 10px;
      color: $white;
    }
    i{
      position: absolute;
      top: 15px;
      right: 15px;
    }

    img{
      width: 100%;
    }
    h1{
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
       bottom: 0;
      width: 100%;
      left: 0;
      font-size: 18px;
      color: $white;
      &:before{
        content: '';
        position: absolute;
        left: 20px;
        bottom: -20px;
        width: 1px;
        height: 60px;
        background: $primary;
      }
    }
  }
}
.page-haberdetay{
  #hdetay{
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    .haber-img{
      width: 100%;
      padding-right: 100px;
      @include esm{ padding-right: 0;}
      @include sm{ padding-right: 0;}
      a{
        display: block;
        img{
          object-fit: cover;
          width:calc( 100% + 200px);
          @include esm{ width: 100%;}
          @include sm{ width: 100%;}
        }
      }
    }
    .container{

      @extend .bg-path;
      .haber-det{
        .row{
          margin-bottom: 50px;
          h1{
            position: relative;
            margin-bottom: 30px;
            font-size: 30px;
            &:before{
              width: 60px;
              height: 2px;
              background: $primary;
              content: '';
              position: absolute;
              bottom: -20px;
              left: 0;
            }
          }
          .tarih{
             background: $dark;
            color: $white;
            display: inline-block;
            position: relative;
            left: 0px;
            top: -44px;
            padding: 5px 15px;

          }
          box-shadow: $box-shadow-lg;
          padding: 30px ;
          background: $white;
          position: relative;
          left: 60px;
          top: 60px;
          z-index: 1;
          @include esm{
            top: unset;
            left: unset;
          }
          @include sm{
            top: unset;
            left: unset;
          }
        }
      }

      .h-detay-more{
        margin-top: 30px;
        background: $white;
        padding-top: 50px;
      }

    }
  }
}
.page-projedetay{
  #pdetay{
    overflow: hidden;
    padding-top: 50px;
  }
  .proje-ekdetay{
    margin-top: -50px;
    @include sm{ margin-top: 0px;}
    @include esm{ margin-top: 0px;}
    .proje-text{
      padding-top: 150px;
      @include sm{ padding-top: 10px; margin-bottom: 15px;}
      @include esm{ padding-top: 10px; margin-bottom: 15px;}
    }

    .p-ekimg{
      left: -150px;
      @include sm{ left: 0}
      @include esm{ left: 0}
      a{
        position: relative;
        display: block;
        &:before{
          content: '';
          position: absolute;
          background: $primary;
          width: 200px;
          height: 2px;
          right: -200px;
          top: 100px;
        }
        img{
          width: calc(100% + 150px);
          @include sm{ width: 100%}
          @include esm{ width: 100%}
        }
      }
    }
    &.right{
      .row{
        flex-flow: row-reverse;
        @include sm{
          flex-flow: wrap;
        }
        @include esm{
          flex-flow: wrap;
        }
        .p-ekimg{
          left: unset;
          a{
            &:after{
              content: '';
              position: absolute;
              background: $primary;
              width: 2px;
              height: 200px;
              left: -30px;
              top: -100px;
            }
          }
        }
      }
    }
  }

  .proje-det{
    margin-top: 30px;
    margin-bottom: 30px;
    h1{
      font-size: 30px;
      margin-bottom: 50px;
    }
    span{
      display: block;
      width: 100%;
      font-weight: bold;
    }
    span.mens{
      opacity: .5;
      font-weight: 500;
    }
    span.det{
      margin-bottom: 20px;
    }
  }
  .img-w{
    img{
      margin-top: 20px;
      width: calc(100% + 150px);
      @include sm{ width: 100%}
      @include esm{ width: 100%}
    }
  }
}
.page-projeliste{
  #projeler{
    padding: 50px 0px;
    @include esm{
      overflow: hidden;
    }
    .proje-item{
      margin-top: 80px;
      .row{
        .text{
          position: relative;
          z-index: 2;
          text-align: right;
          @include esm{
            padding: 20px 30px;
          }
          .title{
            position: relative;
            font-size: 25px;
            margin-bottom: 30px;
            margin-top: 50px;
            small{
              display: block;
              color: $primary;
            }
          }
          .body{
            font-size: 14px;
            color: $gray-600;

            a{
              display: block;
              margin-top: 15px;
            }
            @include sm{
              width: 100%;
              margin-bottom: 15px;
            }
            @include esm{
              width: 100%;
              margin-bottom: 15px;
            }
          }
        }
        .img{
          position: relative;
          img{
            width: 100%;
          }
        }
      }
      &.left{
        .row{
          flex-flow: row-reverse;

          @include sm{
            flex-flow: wrap;
          }
          @include esm{
            flex-flow: wrap;
          }
          .title{
            text-align: left;
            width: 100%;

          }
          .body{
            position: relative;
            text-align: left;

          }
        }
      }
    }
  }
}
.page-faaliyet{

 #faaliyetler{
   padding: 50px 0px;
   @include esm{
     overflow: hidden;
   }
   .faaliyet-item{
     margin-top: 80px;
     .row{
       .text{
         position: relative;
         z-index: 2;
         .title{
           position: relative;
           font-size: 25px;
           margin-bottom: 30px;
           &:before{
             content: '';
             width: 60px;
             height: 2px;
             background-color:$primary;
             position: absolute;
             bottom: 15px;
             left: -80px;
           }
         }
         .body{
           padding: 30px;
           background: $white;
           box-shadow: $box-shadow-lg;
           width: calc(100% + 200px);
           @include sm{
             width: 100%;
             margin-bottom: 15px;
           }
           @include esm{
             width: 100%;
             margin-bottom: 15px;
           }
         }
       }
       .img{
         position: relative;
         img{
           width: 100%;
         }
         &:after{
           content: '';
           position: absolute;
           width: 50%;
           height: calc(100% + 100px);
           right: -50px;
           top: -50px;
           @extend .bg-path;

         }
       }
     }
     &.left{
       .row{
         flex-flow: row-reverse;
         text-align: right;
         @include sm{
           flex-flow: wrap;
         }
         @include esm{
           flex-flow: wrap;
         }
         .title{
           display: inline-block;
           padding-right: 15px;
         }
         .body{
           position: relative;
           left:-200px;
           text-align: left;
           @include sm{
             left: unset;
           }
           @include esm{
             left: unset;
           }
         }
       }
     }
   }
 }
  #ask{
    color: $white;
    background-image: url(../img/bg-ask.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    .main-title{

      margin-bottom: 150px;
    }

  }
  #neler{
    padding: 100px 0px;
    .faa-item{
      margin-top: 30px;
      display: block;
      text-decoration: none;
      img{
        margin-bottom: 30px;
        width: 100%;
      }
      h1{
        text-align: center;
        font-size: 20px;
        color: $dark;
        font-weight: bold;
        &:before{
          transition: $transition-base-cs;
          content: '';
          width: 60px;
          height: 2px;
          background-color:$primary;
          position: absolute;
          bottom: -20px;
          left: calc(50% - 40px);
        }
      }
      &:hover{
        h1{
          &:before{
            bottom: 0px;
          }
        }
      }
    }
  }
}
.page-enlilyapi{
  #kalitebelgeleri{
  }
  #hakkimizda{
    @extend .bg-path;
    padding: 100px 0px;
  }
  #baskanmesaji{
    padding: 100px 0px;
    color: #ffffff;
    background-image: url(../img/bg-baskanmesaji.jpg);
  }
  #politikamiz{
    padding: 100px 0px;
    background-image: url(../img/bg-politika.jpg);
    background-size: cover;
    background-position: center;
    p{
      margin-top: 30px;
      color: #666666;
    }
  }
  #tarih{
    padding: 100px 0px;
    background-image: url(../img/bg-tarih.jpg);
    background-size: cover;
    background-position: center;
    color: $white;
    p{
      margin-top: 30px;
    }
  }
}



footer{
  margin-top: 30px;
  background: $black;
  color: $white;
  font-weight: 400;
  padding: 30px 0px;
  ul.sosyal{
    display: flex;
    padding: 0;
    margin: 0;
    @include md{
      display: block;
    }
    li{
      list-style-type: none;
      @include md{
        float: left;
        margin-bottom: 20px;
      }
      a{
        text-decoration: none;
        margin-right: 20px;
        border-radius: $rounded-pill;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $white;
        color: $dark;
        &:hover{
          background: $dark;
          color: $white;
        }
        i{
        }
      }
    }
  }
  h3{
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: bold;

  }
  p{
    font-size: 12px;
    margin-bottom: 0;
  }
  a{
    color: $white;
    display: block;
    text-decoration: none !important;
  }
  .logo{
    img{
      width: 100%;
      @include sm{
        width: 200px;
      }
      @include esm{
        width: 200px;
      }
    }
  }
}


.objects{
  position: relative;
  display: flex;
  z-index: 100001;
}

.object-label{
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: #3c5171;
  border-radius: 50%;
  cursor: pointer;
}

.popover.top{
  margin-top: -20px;
}

.object-info{
  position: absolute;
  display: none;
  z-index: 1;
  left: 50%;
  bottom: 40px;
  width: 12.4em;
  margin-left: -6.2em;
  padding: 1.1em 1.3em 3em;
  border:0;
  background-color: rgba(0,0,0,0.6);
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow:none;
}

.object-info.in{
  display: block;
}

.object-info:before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top: 14px solid rgba(0,0,0,0.6);
}

.object-title{
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color:#fff;
  padding: 0 0 1em;
  border-bottom:1px solid rgba(249,249,249,0.2);
  margin: 0 0 .5em;
}

.object-content{
  font-size: 0.75em;
  line-height: 2.6;
  color: #fff;
  padding: 0;
}
.object-content a{

  color: #fff;
}

/*

 Timeline

 */



.cd-horizontal-timeline {

  opacity: 0;

  margin: 2em auto;

  -webkit-transition: opacity 0.2s;

  -moz-transition: opacity 0.2s;

  transition: opacity 0.2s;

}

.cd-horizontal-timeline::before {

  /* never visible - this is used in jQuery to check the current MQ */

  content: 'mobile';

  display: none;

}

.cd-horizontal-timeline.loaded {

  /* show the timeline after events position has been set (using JavaScript) */

  opacity: 1;

}

.cd-horizontal-timeline .timeline {

  position: relative;

  height: 100px;

  width: 100%;

  margin: 0 auto;

}

.cd-horizontal-timeline .events-wrapper {

  position: relative;

  height: 100%;

  margin: 0 40px;

  overflow: hidden;

}

.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {

  /* these are used to create a shadow effect at the sides of the timeline */

  content: '';

  position: absolute;

  z-index: 2;

  top: 0;

  height: 100%;

  width: 20px;

}



.cd-horizontal-timeline .events {

  /* this is the grey line/timeline */

  position: absolute;

  z-index: 1;

  left: 0;

  top: 49px;

  height: 2px;

  /* width will be set using JavaScript */

  background: #ffffff;

  -webkit-transition: -webkit-transform 0.4s;

  -moz-transition: -moz-transform 0.4s;

  transition: transform 0.4s;

}

.cd-horizontal-timeline .filling-line {

  /* this is used to create the green line filling the timeline */

  position: absolute;

  z-index: 1;

  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  background-color: $primary;

  -webkit-transform: scaleX(0);

  -moz-transform: scaleX(0);

  -ms-transform: scaleX(0);

  -o-transform: scaleX(0);

  transform: scaleX(0);

  -webkit-transform-origin: left center;

  -moz-transform-origin: left center;

  -ms-transform-origin: left center;

  -o-transform-origin: left center;

  transform-origin: left center;

  -webkit-transition: -webkit-transform 0.3s;

  -moz-transition: -moz-transform 0.3s;

  transition: transform 0.3s;

}

.cd-horizontal-timeline .events a {

  top: 20px;
  text-decoration: none;

  font-size: 14px;

  position: absolute;

  bottom: 0;

  z-index: 2;

  text-align: center;

  padding-bottom: 15px;

  color: $white;

  /* fix bug on Safari - text flickering while timeline translates */

  -webkit-transform: translateZ(0);

  -moz-transform: translateZ(0);

  -ms-transform: translateZ(0);

  -o-transform: translateZ(0);

  transform: translateZ(0);

}

.cd-horizontal-timeline .events a::after {

  /* this is used to create the event spot */

  content: '';

  position: absolute;

  left: 50%;

  right: auto;

  -webkit-transform: translateX(-50%);

  -moz-transform: translateX(-50%);

  -ms-transform: translateX(-50%);

  -o-transform: translateX(-50%);

  transform: translateX(-50%);

  top: -25px;

  height: 12px;

  width: 12px;

  border-radius: 50%;

  border: 2px solid #ffffff;

  background-color: #f8f8f8;

  -webkit-transition: background-color 0.3s, border-color 0.3s;

  -moz-transition: background-color 0.3s, border-color 0.3s;

  transition: background-color 0.3s, border-color 0.3s;

}

.no-touch .cd-horizontal-timeline .events a:hover::after {

  background-color: $primary;

  border-color: $primary;

}

.cd-horizontal-timeline .events a.selected {

  pointer-events: none;

}

.cd-horizontal-timeline .events a.selected::after {

  background-color: $primary;

  border-color: $primary;

}

.cd-horizontal-timeline .events a.older-event::after {

  border-color: $primary;

}

@media only screen and (min-width: 1100px) {



  .cd-horizontal-timeline::before {

    /* never visible - this is used in jQuery to check the current MQ */

    content: 'desktop';

  }

}



.cd-timeline-navigation a {

  /* these are the left/right arrows to navigate the timeline */

  position: absolute;

  z-index: 1;

  top: 35%;

  line-height: 30px;

  font-size: 16px;

  text-align: center;

  bottom: auto;

  height: 34px;

  width: 34px;

  border-radius: 50%;

  border: 2px solid #ffffff;

  /* replace text with an icon */

  overflow: hidden;

  -webkit-transition: border-color 0.3s;

  -moz-transition: border-color 0.3s;

  transition: border-color 0.3s;

  color: #ffffff;

}

.cd-timeline-navigation a.prev {

  left: 0;

}

.cd-timeline-navigation a.next {

  right: 0;

}

.no-touch .cd-timeline-navigation a:hover {

  border-color: $primary;

  color: $primary;



}

.cd-timeline-navigation a.inactive {

  cursor: not-allowed;

  color: #ffffff;



}

.no-touch .cd-timeline-navigation a.inactive:hover {

  border-color: #ffffff;

  color: #ffffff;

}



.cd-horizontal-timeline .events-content {

  position: relative;

  width: 100%;

  margin: 2em 0;

  overflow: hidden;

  -webkit-transition: height 0.4s;

  -moz-transition: height 0.4s;

  transition: height 0.4s;

}

.cd-horizontal-timeline .events-content li {

  position: absolute;

  z-index: 1;

  width: 100%;

  left: 0;

  top: 0;

  -webkit-transform: translateX(-100%);

  -moz-transform: translateX(-100%);

  -ms-transform: translateX(-100%);

  -o-transform: translateX(-100%);

  transform: translateX(-100%);

  padding: 0 5%;

  opacity: 0;

  -webkit-animation-duration: 0.4s;

  -moz-animation-duration: 0.4s;

  animation-duration: 0.4s;

  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-timing-function: ease-in-out;

  animation-timing-function: ease-in-out;

}

.cd-horizontal-timeline .events-content li.selected {

  /* visible event content */

  position: relative;

  z-index: 2;

  opacity: 1;

  -webkit-transform: translateX(0);

  -moz-transform: translateX(0);

  -ms-transform: translateX(0);

  -o-transform: translateX(0);

  transform: translateX(0);

}

.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {

  -webkit-animation-name: cd-enter-right;

  -moz-animation-name: cd-enter-right;

  animation-name: cd-enter-right;

}

.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {

  -webkit-animation-name: cd-enter-left;

  -moz-animation-name: cd-enter-left;

  animation-name: cd-enter-left;

}

.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {

  -webkit-animation-direction: reverse;

  -moz-animation-direction: reverse;

  animation-direction: reverse;

}

.cd-horizontal-timeline .events-content li > * {

  margin: 0 auto;

}



@-webkit-keyframes cd-enter-right {

  0% {

    opacity: 0;

    -webkit-transform: translateX(100%);

  }

  100% {

    opacity: 1;

    -webkit-transform: translateX(0%);

  }

}

@-moz-keyframes cd-enter-right {

  0% {

    opacity: 0;

    -moz-transform: translateX(100%);

  }

  100% {

    opacity: 1;

    -moz-transform: translateX(0%);

  }

}

@keyframes cd-enter-right {

  0% {

    opacity: 0;

    -webkit-transform: translateX(100%);

    -moz-transform: translateX(100%);

    -ms-transform: translateX(100%);

    -o-transform: translateX(100%);

    transform: translateX(100%);

  }

  100% {

    opacity: 1;

    -webkit-transform: translateX(0%);

    -moz-transform: translateX(0%);

    -ms-transform: translateX(0%);

    -o-transform: translateX(0%);

    transform: translateX(0%);

  }

}

@-webkit-keyframes cd-enter-left {

  0% {

    opacity: 0;

    -webkit-transform: translateX(-100%);

  }

  100% {

    opacity: 1;

    -webkit-transform: translateX(0%);

  }

}

@-moz-keyframes cd-enter-left {

  0% {

    opacity: 0;

    -moz-transform: translateX(-100%);

  }

  100% {

    opacity: 1;

    -moz-transform: translateX(0%);

  }

}

@keyframes cd-enter-left {

  0% {

    opacity: 0;

    -webkit-transform: translateX(-100%);

    -moz-transform: translateX(-100%);

    -ms-transform: translateX(-100%);

    -o-transform: translateX(-100%);

    transform: translateX(-100%);

  }

  100% {

    opacity: 1;

    -webkit-transform: translateX(0%);

    -moz-transform: translateX(0%);

    -ms-transform: translateX(0%);

    -o-transform: translateX(0%);

    transform: translateX(0%);

  }

}

/* timeline end*/
/*
.slick-active .hero-content-2 > *, .slick-active .hero-content-3 > * {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
.slick-active .hero-content-2 > *:nth-child(1), .slick-active .hero-content-3 > *:nth-child(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
.slick-active .hero-content-2 > *:nth-child(2), .slick-active .hero-content-3 > *:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }
.slick-active .hero-content-2 > *:nth-child(3), .slick-active .hero-content-3 > *:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }
.slick-active .hero-content-2 > *:nth-child(4), .slick-active .hero-content-3 > *:nth-child(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }
.slick-active .hero-content-2 > *:nth-child(5), .slick-active .hero-content-3 > *:nth-child(5) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }
.slick-active .hero-content-2 > *:nth-child(6), .slick-active .hero-content-3 > *:nth-child(6) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }*/
